.cardBorhOrbitals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    /* aligns items vertically in the center */
    justify-items: center;
    /* aligns items horizontally in the center */
}





.reactiveNonMetals .bohrOrbital {
    background-color: #F8D6EB;
    border-color: #FF00FF;
}

.AlkaliMetals {
    background-color: #D4F5F6;
    border-color: #05B6BB;
}

.AlkalineEarthMetals {
    background-color: #FFD9D8;
    border-color: #DD201C;
}

.TransitionMetals {
    background-color: #E4EEFD;
    border-color: #0070FF;
}


.unknownProperties {
    background-color: #DDDDDD;
    border-color: #454545;
}

.lanthanide {
    background-color: #EBDFF8;
    border-color: #7A00FF;
}

.lanthanum {
    background-color: #EBDFF8;
    border-color: #7A00FF;
    border-width: 2px;
}

.actinide {
    background-color: #FBE7D6;
    border-color: #FF7500;
}

.actinium {
    background-color: #FBE7D6;
    border-color: #FF7500;
    border-width: 2px;
}

.metalloid {
    background-color: #FFFEC6;
    border-color: #959339;
}

.postTransitionMetal.bohrOrbital {
    fill: #15D905;
}

.postTransitionMetal .bohrElectron {
    fill: #15D905;
}

.nobleGas {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
}


/* 
###############################################
########### M E D I A  Q U E R I E S ##########
############################################### 
*/

/* Large Desktop */
@media (min-width: 1200px) {
    /* Add styles for large desktops here */
}

/* Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Add styles for laptops here */
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    /* Add styles for tablets here */
}

/* Mobile Landscape */
@media (min-width: 576px) and (max-width: 767px) {

    /* Add styles for mobile landscape here */
    .cardBorhOrbitals {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* Mobile Portrait */
@media (max-width: 575px) {

    /* Add styles for mobile portrait here */
    .cardBorhOrbitals {
        grid-template-columns: 1fr;
    }
}