ul.navTop {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    /* Adjust to space-between to distribute items evenly */
    list-style: none;
    padding: 0;
}

ul.navTop li {
    flex: 1;
    /* Allow each item to grow and take up equal space */
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: none;
}

ul.navTop li a {
    display: block;
    color: #333;
    padding: 0.5em;
    text-decoration: none;
    text-shadow: none;
}

ul.navTop li a:hover {
    background-color: #000;
    color: #ffe604;
    text-decoration: none;
}