ul.navTop {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    /* Adjust to space-between to distribute items evenly */
    list-style: none;
    padding: 0;
}

ul.navTop li {
    flex: 1;
    /* Allow each item to grow and take up equal space */
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: none;
}

ul.navTop li a {
    border-top: 3px solid #3b3b3b;
    color: #333;
    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-shadow: none;
}

ul.navTop li a:hover {
    border-top: 3px solid #3b3b3b;
    background-color: #3b3b3b;
    color: #ffe604;
    text-decoration: none;
}

.timelineNav {
    background-color: #81a7d6;
}

a.timelineNav {
    background-color: #81a7d6;
}