.NavMiniTable path {
    stroke: #efefef;
    stroke-width: 3;
}

.NavMiniTable rect {
    stroke: #efefef;
    stroke-width: 3;
}


.e1 {
    fill: #c5b4ba !important;
}

.e2 {
    fill: #c9c6cd !important;
}

.e3 {
    fill: #f3d3c6 !important;
}

.e4 {
    fill: #f9e2c2 !important;
}

.e5 {
    fill: #fae8d0 !important;
}

.e6 {
    fill: #dcdacb !important;
}

.e7 {
    fill: #c5c6ca !important;
}

.e8 {
    fill: #afb0e0 !important;
}

.e9 {
    fill: #a999ad !important;
}

.e10 {
    fill: #b2afb7 !important;
}

.e11 {
    fill: #ebc0b0 !important;
}

.e12 {
    fill: #f5d5b0 !important;
}

.e13 {
    fill: #f0deba !important;
}

.e14 {
    fill: #cbcab7 !important;
}

.e15 {
    fill: #abb1b3 !important;
}

.e16 {
    fill: #9396cc !important;
}

.e17 {
    fill: #8d7ea0 !important;
}

.e18 {
    fill: #9c97a2 !important;
}

.e19 {
    fill: #e4ad9a !important;
}

.e20 {
    fill: #f1c89e !important;
}

.e21 {
    fill: #e5d4a5 !important;
}

.e22 {
    fill: #b9b9a4 !important;
}

.e23 {
    fill: #afb0e0 !important;
}

.e24 {
    fill: #9192ca !important;
}

.e25 {
    fill: #927e9b !important;
}

.e26 {
    fill: #747db4 !important;
}

.e27 {
    fill: #bfc199 !important;
}

.e28 {
    fill: #f3ba73 !important;
}

.e29 {
    fill: #c78865 !important;
}

.e30 {
    fill: #e9ac6d !important;
}

.e31 {
    fill: #efda6d !important;
}

.e32 {
    fill: #bfc199 !important;
}

.e33 {
    fill: #919b9b !important;
}

.e34 {
    fill: #777bb7 !important;
}

.e35 {
    fill: #726293 !important;
}

.e36 {
    fill: #85808c !important;
}

.e37 {
    fill: #dc9b83 !important;
}

.e38 {
    fill: #edba8d !important;
}

.e39 {
    fill: #dbc98f !important;
}

.e40 {
    fill: #a8a990 !important;
}

.e41 {
    fill: #777bb7 !important;
}

.e42 {
    fill: #596195 !important;
}

.e43 {
    fill: #746589 !important;
}

.e44 {
    fill: #5a62a1 !important;
}

.e45 {
    fill: #abb87d !important;
}

.e46 {
    fill: #f2af66 !important;
}

.e47 {
    fill: #b87356 !important;
}

.e48 {
    fill: #dc9d5f !important;
}

.e49 {
    fill: #edd269 !important;
}

.e50 {
    fill: #abb87d !important;
}

.e51 {
    fill: #778684 !important;
}

.e52 {
    fill: #5b61a3 !important;
}

.e53 {
    fill: #564786 !important;
}

.e54 {
    fill: #6f6877 !important;
}

.e55 {
    fill: #d5886d !important;
}

.e56 {
    fill: #e9ad7b !important;
}

.e57 {
    fill: #d0bf79 !important;
}

@for $i from 58 through 71 {
    .e#{$i} {
        fill: #d0bf79 !important;
    }
}

.e72 {
    fill: #96987d !important;
}

.e73 {
    fill: #3f468e !important;
}

.e74 {
    fill: #3f468e !important;
}

.e75 {
    fill: #564b76 !important;
}

.e76 {
    fill: #3f468e !important;
}

.e77 {
    fill: #97af61 !important;
}

.e78 {
    fill: #f1a359 !important;
}

.e79 {
    fill: #a95e47 !important;
}

.e80 {
    fill: #cf8d51 !important;
}

.e81 {
    fill: #eaca65 !important;
}

.e82 {
    fill: #97af61 !important;
}

.e83 {
    fill: #5d706c !important;
}

.e84 {
    fill: #3f468e !important;
}

.e85 {
    fill: #3a2c79 !important;
}

.e86 {
    fill: #585161 !important;
}

.e87 {
    fill: #cd7557 !important;
}

.e88 {
    fill: #e5a069 !important;
}

@for $i from 89 through 103 {
    .e#{$i} {
        fill: #d0bf79 !important;
    }
}

.e104 {
    fill: #858869 !important;
}

@for $i from 1 through 104 {
    .e#{$i}:hover {
        filter: brightness(50%);
        transition: filter 0.3s ease;
    }
}