  .timeText {
      display: flex;
      width: 100%;
      height: 1vh;
  }

  .timeTextItem:nth-child(1) {
      width: 10%;
      text-align: left;
  }

  .timeTextItem:nth-child(2) {
      width: 10%;
      text-align: left;
  }

  .timeTextItem:nth-child(3) {
      flex: 1;
      text-align: center;
  }

  .timeTextItem:nth-child(4) {
      width: 10%;
  }

  .timeTextItem:nth-child(5) {
      width: 10%;
      text-align: right;
  }

  .msText {
      display: flex;
      width: 100%;
      height: 1vh;
  }

  .msTextItem {
      flex: 1;
      text-align: left;
  }

  .oneSecond {
      display: flex;
      width: 100%;
      height: 24px;
  }

  .oneHundredMiliseconds {
      position: relative;
      width: 10%;
      background-color: rgb(173, 0, 0);
      padding: 10px;
      border-radius: 16px 0 0 16px;
  }

  .nineHundredMiliseconds {
      width: 90%;
      background-color: rgb(135, 135, 135);
      padding: 10px;
      border-radius: 0 16px 16px 0;
  }

  .seventyFiveMiliseconds {
      position: relative;
      border-radius: 16px;
      width: 85%;
      height: 24px;
      background-color: rgb(173, 0, 0);
  }

  .movingDiv {
      border-radius: 16px;
      height: 1vh;
      width: 24px;
      background-color: rgb(173, 0, 0);
      /* animation: moveDiv 73ms linear infinite; */
  }

  @keyframes moveDiv {
      0% {
          left: 0;
      }

      100% {
          left: calc(100% - 5px);
      }
  }

  .blocky {
      display: block;
      height: 2vh;
      padding: 10px 0px 0px 0px;
  }

  .handlerTime {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translate(-50%, -50%);
      background-color: black;
      width: 20px;
      border-radius: 16px;
      transition: left 0.073s linear;
      /* 73ms animation */
  }

  .oneHundredMiliseconds .handlerTime {
      left: 105px;
  }

  .ctaTime {
      padding: 10px;
      border-radius: 16px;
      border: 4px solid #CCCCCC;
      margin-top: 10px;
  }

  .ctaTime button {
      padding: 10px 40px 10px 20px;
      border-radius: 24px;
      border: 4px solid black;

      color: black;
      font-size: 2em;
      font-weight: 900;

      background: #ffe604 no-repeat url("/images/play-circle.svg") 105px center;
  }

  .ctaTime button:hover {
      border-radius: 12px;
      background-color: rgb(255, 255, 255);
      border: 4px solid black;
      color: #000000;
      cursor: pointer;
      transition: border-radius 0.3s ease;
      background: #ffffff no-repeat url("/images/play-black.svg") 105px center;
  }

  .ctaTime button:active {
      background: #000000 no-repeat url("/images/play-white.svg") 105px center;
      color: #FFFFFF;
  }