.pager {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Adjust as necessary to get the desired spacing */
}

.pager button {
    /* Light gray background */
    background: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Hand cursor on hover */
}

.pager button:hover {
    background-color: #e0e0e0;
    /* Slightly darker background on hover */
}

.pager button span.iconTable {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #FFF;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.iconTable18 {
    background-image: url("/images/icon-18.svg");
}

.iconTable32 {
    background-image: url("/images/icon-32.svg");
    background-size: 50%;
    /* Adjust as necessary */
    background-position: center 10%;
    /* Adjust as necessary */
}

.iconTableRT {
    background-image: url("/images/icon-RT.svg");
}