.pager {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Adjust as necessary to get the desired spacing */
}

.pager button {
    /* Light gray background */
    background: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Hand cursor on hover */
}

.pager button:hover {
    background-color: #e0e0e0;
    /* Slightly darker background on hover */
}

.pager button span.iconTable {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: blue;
    border-radius: 50%;
}