.pager {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.pager button {
    align-items: center;
    background-color: #ffe604;
    border: none;
    border-radius: 48px;
    color: #000;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    padding: 10px;
    transition: border-radius 0.3s ease;
}

.pager button:hover {
    background-color: #000;
    color: #ffe604;
    border-radius: 12px;
}

.pager button span.iconTable {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #FFF;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.4em;
    transition: background-color 0.3s ease;
}

.pager button:hover span.iconTable {
    background-color: #ffe604;
}

.iconTable18 {
    background-image: url("/images/icon-18.svg");
}

.iconTable32 {
    background-image: url("/images/icon-32.svg");
}

.iconTableRT {
    background-image: url("/images/icon-RT.svg");
}